<div class="site-footer" style="text-align:center; padding: 1em 0;">
    <a href="https://github.com/Kfir-G" target="_blank">
        <img src="https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github&logoColor=white" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/kfir-gisman/" target="_blank">
        <img src="https://img.shields.io/badge/LinkedIn-%230077B5.svg?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn">
    </a>
    <a href="mailto:kfir.gisman@gmail.com" target="_blank">
        <img src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white" alt="Gmail">
    </a>
    <a href="https://medium.com/@kfir-g" target="_blank">
        <img src="https://img.shields.io/badge/Medium-12100E?style=for-the-badge&logo=medium&logoColor=white" alt="Medium">
    </a>
    <a href="https://kfir-g.dev/blog/rss.xml" target="_blank" title="RSS Feed">
        <img src="https://img.shields.io/badge/RSS-orange?style=for-the-badge&logo=rss&logoColor=white" alt="RSS">
    </a>
    <a href="https://dev.to/kfir-g" target="_blank">
        <img src="https://img.shields.io/badge/dev.to-12100E?style=for-the-badge&logo=dev.to&logoColor=white" alt="Dev.to">
    </a>
</div>
